$imageFolder: 'https://d226b0iufwcjmj.cloudfront.net/global/sp-360';

[sp-image-zoom] {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;

  &.magnifying-glass-mode .large-image {
    width: 175px;
    height: 175px;
    position: absolute;
    z-index: 3;
    border-radius: 100%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-color: #ffffff;
    display: none;

    &.shown {
      display: block;
    }
  }

  &.zoom-controls-mode {
    .drag-area {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      cursor: grab;
    }

    .control-buttons {
      width: 100%;
      position: absolute;
      z-index: 3;
      bottom: 1em;
      left: 0;
      right: 0;
      text-align: center;

      > button {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 60% 60%;
        $navigationBtnSize: 2.9em;
        width: $navigationBtnSize;
        height: $navigationBtnSize;
        border-radius: 100%;
        border: 1px solid #505050;
        background-color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 0.625em;
        margin-right: 0.625em;

        &.zoom-in {
          background-image: url(#{$imageFolder}/zoom-in.svg);
        }

        &.zoom-out {
          background-image: url(#{$imageFolder}/zoom-out.svg);
        }

        &.disabled {
          opacity: 0.3;
        }
      }
    }
  }

  > .image-to-middle {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  > .image {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}